<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="container">
            <h1>Pagina de Perfil</h1>
            <p>Meu nome é <a href="https://github.com/HKRAGD" target="_blank"><%= perfil[0].nome %> <%= perfil[0].sobrenome %></a>, tenho <%= perfil[0].idade %> anos e estou fazendo o curso de Node.js da EBAC</p>
        </div>
    </main>
</body>
</html>